
<%= form_tag ("/re_page/create") do %>
  <p>テナント名</p>
  <input name="tempo_name">
  <p>担当者名</p>
  <input name="manager">
  <p>email</p>
  <input name="email">
  <input type="submit" value="送信">
<% end %>

